// output:index.html, pretty:false
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="assets/styles/style.min.css")
        title Genetic Car Algorithm
    body
        canvas#board
        h4#fitness
        h4#aliveTime
        h5#generation 0
        h6#reproducing
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/Vector.js")
    script(src="assets/js/Track.js")
    script(src="assets/js/Bias.js")
    script(src="assets/js/Neuron.js")
    script(src="assets/js/Connection.js")
    script(src="assets/js/Brainiac.js")
    script(src="assets/js/Racecar.js")
    script(src="assets/js/main.js")
