// output:old.html, pretty:false
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="assets/styles/style.min.css")
        title Genetic Car Algorithm, old
    body
        canvas#board
        h4#fitness
        h4#aliveTime
        h4#traveled
        h4#rounds 0
        h5#generation 0
        h6#reproducing
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/Vector.js")
    script(src="assets/js/Track.js")
    script(src="assets/js/Brain.js")
    script(src="assets/js/Car.old.js")
    script(src="assets/js/main.js")
